#about {

  .about_intro {

    float: left;

    #nicolay {
      width: 33%;
      float: left;
      padding-right: 1em;
      padding-bottom: 1em;
      // border: 2px solid black;
    }
  }

  .logos {

    li {

      &:hover {
        opacity: .8;
      }
        width: 48%;

      // ************************************************************************************
      // ************************************ TABLET ****************************************
      // ************************************************************************************
      @media only screen and (min-width : 768px) {
        width: 24%;
      }


      display: inline-block;

      img {
        width: 100%;
      }
    }
  }
}
