#nicolay {
  margin: 0 auto;
  display: block;
  width: 100%; }

.menu-hekkens-container {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  z-index: 1001; }
  @media (max-width: 480px) {
    .menu-hekkens-container {
      top: 12px;
      right: 0; } }
  @media (min-width: 768px) {
    .menu-hekkens-container {
      top: 12px; } }
  @media (min-width: 1024px) {
    .menu-hekkens-container {
      top: 20px; } }
  .menu-hekkens-container .menu-hekkens {
    cursor: pointer;
    padding-left: 1.25em;
    position: relative;
    width: 40px;
    height: 32px; }
    @media (max-width: 480px) {
      .menu-hekkens-container .menu-hekkens {
        width: 25px;
        height: 22px; } }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-global {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: 4px solid #35b88f;
      width: 100%;
      -webkit-transition: 0.55s;
      -moz-transition: 0.55s;
      -o-transition: 0.55s;
      transition: 0.55s; }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-top {
      top: 0; }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-middle {
      top: 13px; }
      @media (max-width: 480px) {
        .menu-hekkens-container .menu-hekkens .menu-hekkens-middle {
          top: 8px; } }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-bottom {
      top: 26px; }
      @media (max-width: 480px) {
        .menu-hekkens-container .menu-hekkens .menu-hekkens-bottom {
          top: 16px; } }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-top-click {
      backface-visibility: hidden;
      top: 13px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: 0.55s 0.5s;
      -moz-transition: 0.55s 0.5s;
      -o-transition: 0.55s 0.5s;
      transition: 0.55s 0.5s; }
      @media (max-width: 480px) {
        .menu-hekkens-container .menu-hekkens .menu-hekkens-top-click {
          top: 8px; } }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-middle-click {
      opacity: 0; }
    .menu-hekkens-container .menu-hekkens .menu-hekkens-bottom-click {
      backface-visibility: hidden;
      top: 13px;
      -webkit-transform: rotate(-405deg);
      -moz-transform: rotate(-405deg);
      -o-transform: rotate(-405deg);
      transform: rotate(-405deg);
      -webkit-transition: 0.55s 0.5s;
      -moz-transition: 0.55s 0.5s;
      -o-transition: 0.55s 0.5s;
      transition: 0.55s 0.5s; }
      @media (max-width: 480px) {
        .menu-hekkens-container .menu-hekkens .menu-hekkens-bottom-click {
          top: 8px; } }

.carousel {
  text-align: center;
  width: 100%;
  height: auto;
  margin-bottom: 0; }

.carousel .carousel-container {
  margin: 0 auto;
  position: relative;
  perspective: 1100px;
  -webkit-perspective: 1100px;
  -moz-perspective: 1100px; }

.carousel .carousel-container #carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s; }

.carousel .carousel-container #carousel figure {
  left: 10px;
  top: 10px;
  display: block;
  position: absolute;
  border: 2px solid black;
  margin: 0; }

.carousel .carousel-container #carousel figure div {
  height: 100%;
  width: 100%;
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; }

body {
  overflow-x: hidden;
  width: 100%; }

.nav-container {
  text-align: center;
  margin-top: -15px; }

.navigation {
  border: none;
  background-color: transparent;
  color: white;
  margin: 0 25px; }

.carousel .carousel-container #carousel figure:hover {
  opacity: 0.5; }

@font-face {
  #footer {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.eot?v=4.2.0");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal; } }
#footer .at300bs {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
#footer .at15t_facebook:before {
  content: "\f09a"; }
#footer .at15t_twitter:before {
  content: "\f099"; }
#footer .at15t_google_plusone_share:before {
  content: "\f1a0"; }
#footer .at15t_linkedin:before {
  content: "\f0e1"; }
#footer .at15t_facebook,
#footer .at15t_twitter,
#footer .at15t_google_plusone_share,
#footer .at15t_linkedin {
  background-image: none !important; }
#footer #atstbx a span {
  display: inline-block;
  width: 2.5em !important;
  height: 2em !important;
  line-height: 2.5em !important;
  text-align: center !important;
  border: 0; }
#footer .at-svc-compact {
  display: none !important; }

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #183026;
  background-image: url("images/overlay.png"), url("../images/bg.jpg");
  background-repeat: repeat,	no-repeat;
  background-size: auto,	cover;
  background-position: top left, center 0;
  background-attachment: fixed, fixed; }
  #navigation ul {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    #navigation ul li {
      padding: 1em; }
