body.home {

	main {

		article {

			a {

				padding: 0;

				figure {

					position: relative;

					img {

						width: 100%;
						height: auto;
					}

					figcaption {

						position: absolute;
						top: 40%;
						left: 0;
						right: 0;
						bottom: 0;
						text-align: center;

					}
				}

				&:hover {
					
					figure {

						img {

							opacity: 50%;
						}
					}
				}
			}
		}
	}
}